* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { 
	font-size: 10px; 
}

:root {
  --color: black;
  --second-color: #606068;
  --font-family: Helvetica;
}

.header {
	height: 20vh;
	background-color: var(--second-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu {
  	display: block;
	text-align: left;
}

a {
	font-family: var(--font-family);
	text-transform: uppercase;
	font-size: 4vh;
	color: white;
	text-decoration: none;
	line-height: 20vh;
	margin-left: 10vh;
}

a:hover {
	color: blue;
}

a:hover, h2:hover {
	color: blue;
}

.menu li {
  display: inline-block;
}

.home a {
	margin-right: 10vh;
}

.main {
	height: 100vh;
	background-image: url(../img/main.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column; 
	align-items: center;
}

.main h2 {
	font-family: var(--font-family);
	color: var(--second-color);
	font-size: 4vh;
	margin-top: 5vh;
}

form {
	width: 90vh;
	height: 60vh;
	background-color: rgba(255,255,255, 0.7);
	margin-top: 10vh;
}

input {
	display: block;
	width: 80%;
	height: 5vh;
	font-size: 2vh;
	border: 1px solid var(--second-color);
	background-color: rgba(255,255,255, 0.6);
	margin: auto;
	margin-bottom: 5vh;
}

label {
	font-size: 2.5vh;
	color: var(--second-color);
	font-weight: bold;
	display: block;
	font-family: var(--font-family);
	margin-left: 9vh; 
	margin-top: 5vh;
	margin-bottom: 2vh;
}

input:focus {
	outline: none;
}

input[type="submit"] {
	background-color: var(--second-color);
	color: white;
	height: 6vh;
	cursor: pointer;
	font-size: 3vh;
}

input[type="submit"]:hover {
	background-color: blue;
	color: white;
}

.footer {
	height: 20vh;
	background-color: var(--second-color);
}

.footer-text h2 {
	font-family: var(--font-family);
	text-transform: uppercase;
	font-size: 4vh;
	color: white;
	text-align: center;
	line-height: 20vh;
}

/**@media screen and (min-width: 600px) {
	.header {
		height: 10vh;
		display: flex;
		flex-direction: column;
	}

	a {
		font-size: 2vh;
		line-height: 10vh;
		margin-left: 2vh;
	}

	.menu li {
  		display: inline-block;
	}

	.home a {
		margin-right: 3vh;
	}

	.main {
		height: 50vh;
	}

	.main h2 {
		font-size: 2vh;
		margin-top: 2vh;
	}

	form {
		width: 30vh;
		height: 25vh;
		background-color: rgba(255,255,255, 0.7);
		margin-top: 2vh;
	}

	input {
		width: 80%;
		height: 2vh;
		font-size: 1vh;
		margin-bottom: 2vh;
	}

	label {
		font-size: 1vh;
		margin-left: 3vh; 
		margin-top: 2vh;
		margin-bottom: 1vh;
	}

	input[type="submit"] {
		height: 2vh;
		font-size: 1vh;
	}

	.footer {
		height: 10vh;
	}

	.footer-text h2 {
		font-size: 2vh;
		line-height: 10vh;
	}
}**/


