* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { 
	font-size: 10px; 
}

:root {
  --color: #FE1A19;
  --font-family: Helvetica;
  --size: 2rem;
}

.header-container {
	height: 6rem;
	background-color: var(--color);
}

.header-container h1 {
	font-family: var(--font-family);
	text-transform: uppercase;
	font-size: var(--size);
	margin-left: var(--size);
	color: #FFFFFF;
	line-height: 6rem;
}

.content {
	/*display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: flex-end;*/
	text-align: center;
}

.early-life, .career, .weather-project {
	width: 40rem;
	border: 0.5rem solid #FE1A19;
	box-sizing: border-box;
	border-radius: 3rem;
	display: inline-block;
	margin-top: 5.2rem;
	margin-bottom: 5.2rem;
	padding: 3rem;
	vertical-align: top;
	text-align: justify;
}

.career {
	margin-right: 5rem;
	margin-left: 5rem;
}

.content h2 {
	font-family: var(--font-family);
	text-transform: uppercase;
	font-weight: bold;
	font-size: var(--size);
	margin-bottom: 4rem;
	color: black;
}

.content p {
	font-family: var(--font-family);
	font-size: 1.8rem;
	line-height: 1.5;
	margin-bottom: var(--size);
}

.footer {
	height: 6rem;
	background-color: var(--color);
}

.footer-text h2 {
	font-family: Helvetica;
	text-transform: uppercase;
	font-size: var(--size);
	margin-left: var(--size);
	color: #FFFFFF;
	line-height: 6rem;
}
