@import url(reset.css);

.header {
	height: 140px;
	background-color: black;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.header-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

a {
	font-family: Helvetica;
	font-size: 30px;
	color: white;
	margin-right: 50px;
	line-height: 140px;
	text-decoration: none;
}

.img {
	height: 950px;
	background-image: url(../img/1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex; 
}

.img h2 {
	font-family: Helvetica;
	font-size: 50px;
	font-style: bold;
	color: #e6ff00;
	margin: auto;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.information {
	height: 300px;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
}

.information p {
	height: 130px;
	width: 900px;
	font-family: Helvetica;
	font-size: 20px;
	color: white;
	padding-top: 20px;
}

.products {
	height: 400px;
	background-color: black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.product_one, .product_two, .product_three {
	background-color: black;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product_one, .product_two, .product_three h2 {
	font-family: Helvetica;
	font-size: 10px;
	color: white;
}

img {
	margin-bottom: 10px;
}


.footer {
	height: 140px;
	background-color: black;
	display: flex;
}

.footer-text {
	font-family: Helvetica;
	text-transform: uppercase;
	font-size: 20px;
	color: white;
	margin: auto;
}